<div class="modal-header">
    <span class="fi-x modal-close-btn" ng-click="close()"></span>
    <h3>News</h3>
</div>
<div class="modal-body" style="background-color: #eaeaea; overflow: hidden">
    <div class="eso-s">
        <span style="position: fixed; margin: 30px 15px 15px 15px">Madame Eso</span>
    </div>
    <div class="article-line">
        <h3>{{ article.headline }}</h3>
        <div>{{ article.date }}</div>
        <br />
        <div>
            {{ article.body }}
        </div>
    </div>
</div>
<div class="modal-footer">

</div>
