<div ng-controller="DesktopCtrl">
    <div class="header left shadow">
        <span class="desktop-icon df-icon df-email" ng-click="openEmailClient()"></span>
        <span class="desktop-icon df-icon df-forum" ng-click="openForums()" ></span>
        <span class="desktop-icon df-icon df-news" ng-click="openNewsClient()"></span>
        <span class="desktop-icon df-icon df-diefour" ng-click="openFourthWall()"></span>
        <span class="desktop-icon df-icon df-help" ng-click="openFAQ()"></span>
    </div>
</div>
